<?xml version="1.0" encoding="utf-8" ?>
<t:sites xmlns:t="urn:thycotic-SiteConfig">

 <!-- Doc Links - Identity Bridge - main-->
  <t:site key="IDBridgeDocs">/ib/</t:site>

 <!-- Doc Links - Marketing Emails-->
  <t:site key="IDBridgeRNsLatest">/ib/1.1.2/release-notes/rn-1.1.2.md</t:site>

 <!-- Installers -->

 <!-- EULA -->
  <t:site key="EULA">https://thycotic.com/company/eula/</t:site>

</t:sites>